@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
header {
    background-color:gray;
    width:100%;
    position:fixed;
    z-index:999;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px ;
}
.logo{    
    color:black; 
    font-weight:bold;       
    font-size:1.5em;
}
.navigation a{
    color:black;
    text-decoration:solid;       
    font-size:0.9em;
    font-style:oblique;
    font-weight:bolder;        
    padding-left:40px;
}
.navigation a:hover{
    color: wheat;
}
section {
    padding: 200px 600px;
}
.main {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;    
    background: url(images/background.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 {
    color:yellow;
    font-size: 1.6em;
    font-weight: bolder;
    font-style: italic;    
}
.main h2 span {
    display: inline-block;    
    margin-top: 13px;
    color:aqua;
    font-size: 0.9em;
    font-weight: bolder;    
}
.main h3 {
    color: red;
    font-size: 1.2em;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left:1%;
    margin-right:1%;
}